<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Nadiaオンプレ -->

  <appSettings>
    <!-- ログフォルダ -->
    <add key="LogPath" value="D:\ProRadNadia\Logs"/>

    <!-- ライセンスファイル -->
    <add key="LicensePath" value="D:\ProRadNadia\License\NadiaLicense.dat"/>
  </appSettings>

  <connectionStrings>
    <add name="LOCAL" connectionString="Server=localhost;Port=5432;Database=MyViewer;User Id=postgres;Password=operator;Preload Reader=true;" providerName="Npgsql"/>
    <add name="EXP" connectionString="server=172.16.5.176;database=Exporter;uid=sa;pwd=tryfor;MultipleActiveResultSets=true" providerName="System.Data.SqlClient"/>
    <add name="YCOM" connectionString="Data Source=172.16.5.232:1521/ARQS;User ID=arqs;Password=arqs_user" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>

  <system.data>
    <DbProviderFactories>
      <clear/>
      <add name="Npgsql Data Provider" invariant="Npgsql" description=".Net Data Provider for PostgreSQL" type="Npgsql.NpgsqlFactory, Npgsql, Version=2.2.5.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7" support="FF"/>
      <add name="ODP.NET, Managed Driver" invariant="Oracle.ManagedDataAccess.Client" description="Oracle Data Provider for .NET, Managed Driver" type="Oracle.ManagedDataAccess.Client.OracleClientFactory, Oracle.ManagedDataAccess, Version=4.121.2.0, Culture=neutral, PublicKeyToken=89b483f429c47342"/>
    </DbProviderFactories>
  </system.data>

  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime maxRequestLength="1048576" executionTimeout="600" targetFramework="4.5"/>
    <!-- ASP.NET偽装 (※通常はコメント) -->
    <!--<identity impersonate="true" userName="administrator" password="operator"/>-->
  </system.web>

  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="netTcpBinding0" maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" portSharingEnabled="true">
          <readerQuotas maxArrayLength="1073741824" />
          <security mode="None" />
        </binding>
      </netTcpBinding>
      <customBinding>
        <binding name="customBinding0">
          <binaryMessageEncoding>
            <readerQuotas maxArrayLength="1073741824" />
          </binaryMessageEncoding>
          <httpTransport maxBufferSize="1073741824" maxReceivedMessageSize="1073741824" />
        </binding>
      </customBinding>
    </bindings>
    <services>
      <service name="ProRadService.OnPre.ProRadServices">
        <clear />
        <!--<endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcpBinding0" contract="ProRadService.OnPre.ProRadServices" />-->
        <endpoint address="" binding="customBinding" bindingConfiguration="customBinding0" contract="ProRadService.OnPre.ProRadServices" />
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <!-- 本番はfalse、上のメタデータのエンドポイントを削除 -->
          <serviceMetadata httpGetEnabled="true"  httpsGetEnabled="false"/>
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>

  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <directoryBrowse enabled="false"/>
  </system.webServer>
</configuration>
