/* 全体 */
* {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}
body {
    font-family: Arial, "ＭＳ Ｐゴシック", sans-serif;
    background-color: #388ed9;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
    height: 100%;
    -ms-touch-action: none; /* IE10向け */
    -ms-content-zooming: none; /* IE10向け */
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* webkit向け */
}
html {
    overflow: hidden;
}
textarea,
input,
select {
    font-family: "游ゴシック";
}

/* バージョン */
#Version {
    cursor: default;
    position: absolute;
    top: 382px;
    left: 509px;
    overflow: hidden;
    white-space: pre;
    color: #c4ddf4;
}

/* 入力部 */
#LoginInput {
    background-image: url("../img/x1/LoginInput.png?20150706a");
    background-size: 100%;
    background-repeat: no-repeat;
    position: absolute;
    left: 50%;
    top: 50%;
    width: 600px;
    height: 400px;
    margin-left: -300px;
    margin-top: -200px;
}
#LoginID {
    position: absolute;
    width: 225px;
    height: 30px;
    top: 212px;
    left: 184px;
}
    #LoginID input {
        width: 225px;
        height: 30px;
        line-height: 30px;
        font-size: 130%;
        outline-style: none;
    }
#Password {
    position: absolute;
    width: 225px;
    height: 30px;
    top: 279px;
    left: 184px;
}
    #Password input {
        width: 225px;
        height: 30px;
        line-height: 30px;
        font-size: 130%;
        outline-style: none;
    }
.Input-Focus {
    border-bottom: #0053a8 2px solid;
    border-left: #0053a8 2px solid;
    border-top: #0053a8 2px solid;
    border-right: #0053a8 2px solid;
}
#LoginButton {
    background-size: 100%;
    cursor: pointer;
    position: absolute;
    width: 151px;
    height: 51px;
    top: 320px;
    left: 302px;
}
    #LoginButton a {
        display: block;
        width: 100%;
        height: 100%;
        outline-style: none;
    }
.LoginButton-OFF {
    background-image: url("../img/x1/LoginButton_off.png?20150706a");
}
.LoginButton-Active {
    background-image: url("../img/x1/LoginButton_active.png?20150706a");
}
.LoginButton-ON {
    background-image: url("../img/x1/LoginButton_on.png?20150706a");
}

/* iPad向け */
@media only screen and (-webkit-device-pixel-ratio: 2) {
    /*#LoginInput {
        background-image: url("../img/x2/LoginInput.png?20150706a");
    }

    .LoginButton-OFF {
        background-image: url("../img/x2/LoginButton_off.png?20150706a");
    }

    .LoginButton-Active {
        background-image: url("../img/x2/LoginButton_active.png?20150706a");
    }

    .LoginButton-ON {
        background-image: url("../img/x2/LoginButton_on.png?20150706a");
    }*/
}
